body {
    background-color:rgb(132, 241, 154);
}

h1 {
    color:green;
    font-size: 36;
}

a {
    color:green;
    font-size: 20;
}

#txtBox10 {
    width: 200px;
    height: 300px;
    font-size: 16px; /* Default size */
    padding: 1px;
    border: 2px solid #111010;
    border-radius: 5px;
    resize: none;
}

#sizeRange {
    width: 200px;
    margin-top: 10px;
}

.container {
    text-align: left;
    margin-left: 50px;  /* Adjust left margin */
    width: 300px;
}

